{% extends 'base.html.twig' %}
{% block body %}
<div class="d-flex justify-content-center col-12">
   <div class="w-75 p-2">
      <h2 class="page-header">Add Event</h2>
      	<div class="bg-secondary p-3 text-white">
			{{form_start(form)}}
			{{form_widget(form)}}
			{{form_end(form)}}
		</div>
	</div>
</div>
{% endblock %}


	 