{% extends 'base.html.twig' %}
{% block body %}
 	
    
    <div class="w-100 d-flex justify-content-center mt-5">
      <div class="jumbotron text-center">
      	<h2 class="display-4">Welcome to the</h2>
        <h1 class="display-3">"NEW Eventlist"!</h1>
        <p class="lead">In the Menu you can choose the Events, you are interested in!</p>
        <hr class="my-4">
      </div>
     </div>
    
{% endblock %}